/* About.css */
.about-container {
  width: 250px;
  padding: 20px;
  border-radius: 2px;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #661E23;
  direction: rtl;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  top: 0;
}

.about-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-container p {
  font-size: 16px;
  line-height: 1.5;
}
