
.poem-container {
  height: 100%; 
  width: 100%; 
  display: flex;
  flex-direction: column;
  direction: rtl;
  font-size: 17px;
  align-items: center; 
  padding: 20px;
  position: relative;
  z-index: 0;
  right: auto;
  left: auto;
  font-family: 'Assistant', sans-serif;
  }

.poem-card {
  flex: 1;
  width: 80%;
  max-width: 750px;
  overflow: hidden; 
  padding: 20px;/*
  box-sizing: border-box;
  background-color: #f7f4d1; 
  border-radius: 10px;
  text-align: right;
  column-count: 3; 
  column-gap: 20px; 
  column-fill: auto; 
  padding: 30px;
  line-height: 1.4;
  user-select: none;*/
  position: relative;
  font-size: 18px;
  font-weight: 500 ;
  border: 2px solid #8B4513; 
  border-radius: 8px;
}
/*
.poem-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px; 
}

.poems {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
*/
.navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.arrow-button {
  font-size: 14px;
  color: #661E23;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  text-align: center;
  border: none;
  font-size: 18px;
  font-weight: 400;
}

.poem-title {
  color: #6D533E; 
  width: 100%;
  box-sizing: border-box;
  column-span: all;
  display: block;
  margin-bottom: 0;
  height: 80px;
}



.poem-content {
  flex: 1;
  width: 80%;
  max-width: 750px;
  height: 480px;
  box-sizing: border-box;
  background-color: #f7f4d1; 
  border-radius: 10px;
  text-align: right;
  column-count: 3; 
  column-gap: 40px; 
  column-fill: auto; 
  overflow: hidden; 
  line-height: 1.4;
  user-select: none;
  position: relative;
  font-size: 18px;
  font-weight: 500 ;
  
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
    line-height: 0.8;
    font-size: 12px;
    font-weight: 300;
  }

}