.poem-container {
  height: 100%; /* Fixed height for the container */
  width: 100%; /* Full width */
  display: flex;
  flex-direction: column;
  direction: rtl;
  font-size: 17px;
  align-items: center; /* Center content horizontally */
  padding: 20px;
  position: relative;
  z-index: 0;
  right: auto;
  left: auto;
  }

.poem-card {
  flex: 1;
  width: 80%;
  max-width: 750px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f7f4d1; 
  border-radius: 10px;
  overflow: hidden;
  text-align: right;
  position: relative;
  column-count: 3; 
  column-gap: 20px; /* Gap between columns */
  column-fill: auto; /* Only break text into columns when necessary */
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
  overflow: hidden; /* Hide overflowing text */
  padding: 30px;
  line-height: 1.5;
  user-select: none;
  position: relative;
}

.poem-card::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border: 2px solid #8B4513; 
  border-radius: 8px;
}

.poem-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px; /* Apply border radius to the image */
}

.poems {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.arrow-button {
  font-size: 14px;
  color: #661E23;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  text-align: center;
  border: none;
}

.poem-title {
  color: #6D533E; 
  padding-bottom: 10px;
}

.poem-content {
  color: #6D533E; 
}

