.header {
  background-color: transparent; /* Set the header background color to clear */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  justify-content: flex-end;
  height: 80px;
  padding-top: 0px;
  padding-bottom: 20px;
  color: #661E23;

}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: black;
  height: 4px;
  width: 25px;
  margin: 3px 0;
  transition: 0.4s;
}

.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #333;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}

.open .menu {
  display: flex;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  direction: rtl;
  padding: 5px;
}

.logo-image {
  height: 50px; /* Set the height of the logo image */
  width: 50px;
  margin-right: 10px; /* Add some margin between the logo and navigation links */
  border-radius: 50%;
}

h1 {
  margin: 5px;
}

.header-title {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #661E23;
}

.navbar-logo {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center; /* Align the logo vertically with navigation links */
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 10px;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}
