/* Footer.css */
.footer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    direction: rtl;
    padding: 1px 20px 0px 20px;
    /*border-top: 1px solid #8B4513;
    background-color: #C0B585; */   
    color: #8B4513; 
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 15%;
    margin-bottom: 10px;
    width: 20%;
    height: 30px;
    z-index: 1;
  }

  .click {
    text-decoration: none;
    color: #8B4513;
    border-top: #8B4513 1px solid;
    border-radius: 2px;
    padding: 1px 20px 0px 20px;
    font-size: 16px;
  }


  .click:hover {
    color: #8B4513;
    cursor: pointer;
    background-color: #C0B585;   
  }

