* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  min-height: 100vh;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.section {
  background-color: whitesmoke;
  border: 1px solid blue;
  flex: 1;
}


body {
  font-family: 'Assistant', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, button {
  font-family: 'Assistant', sans-serif;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Assistant', sans-serif;
  color: var(--primary-color); /* Primary color for text */

}
