* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

body {
  min-height: 100vh;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.section {
  background-color: whitesmoke;
  border: 1px solid blue;
  flex: 1;
}


body {
  font-family: 'Assistant', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, button {
  font-family: 'Assistant', sans-serif;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Assistant', sans-serif;
  color: var(--primary-color); /* Primary color for text */

}

.navbar {
  background-color: var(--secondary-color); /* Secondary color for the navbar */
}

.poem-card {
  background-color: transparent; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  padding: 20px;
  border-radius: 10px; /* Rounded corners for elegance */
}




